---
import Layout from '../layouts/Layout.astro';
import Slide from '../components/Slide.vue';
---

<Layout title="Welcome to Astro.">
	<Slide/>
</Layout>

<style>

	h1 {
		margin: 2rem 0;
	}

</style>
