<template>
            <div :id="post.id" class="carousel-item relative w-full" style="background-image: url('{{post.image}}')">
                <img :src="post.image" class="w-full" />
                <div class="absolute w-full h-full  bg-gradient-to-t from-slate-900  ">
</div>
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a :href="`#${post.back}`" class="btn btn-circle">❮</a> 
                    <a :href="`#${post.next}`" class="btn btn-circle">❯</a>
                </div>
                <div class="absolute transform flex text-slate-300 no-italic items-center flex-col left-20 right-20  bottom-10">
                    <div class="mb-5">
                    <strong class="text-4xl"> {{post.title}}</strong>
                    <p>{{post.review}}</p>  
                    </div>
                    <button :href="post.url" class="btn  warning w-2/6">Review</button> 
                </div>
            </div> 
</template>
<script setup>
    const {post} = defineProps(['post'])
</script>