<template>
    <div>
        <div class="flex justify-center h-full bg-gray-900">
        <div class="carousel w-3/5 h-96 m-10 drop-shadow-2xl ">
                <ImageSlide
                    v-for="item in arrayLambdo"
                    :post="item"
                />
        </div>
    </div>
    </div>

</template>
<script setup>
import ImageSlide from './ImageSlide.vue';
 var arrayLambdo = []
const postsLambdo =  await fetch(`${import.meta.env.URL}?key=${import.meta.env.KEY}`);
const requestLambdo  = await postsLambdo.json();
 arrayLambdo  = requestLambdo.posts.map((element, id)=> {
    return {
        id: id,
        next:id+1,
        back: id-1,
        url: element.url,
        title: element.title,
        image: element.feature_image,
        review : element.excerpt
    }
})
</script>